@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 1440px;
}

.bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  td.buttonContain {
    display: flex!important;
    justify-content: center!important;
}