@tailwind base;
@tailwind components;
@tailwind utilities;

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { min-height: 100vh; }

.bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  td.buttonContain {
    display: flex!important;
    justify-content: center!important;
}

.animate__animated.animate__bounceOut {
  --animate-duration: 2s;
}